body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,sans-serif;
  color: #303030;
  -webkit-font-smoothing: antialiased;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  background: #f8f8f8;
}

.wppayform_frameless_body_start {
  max-width: 600px;
  margin: 0 auto;
  background: white;
  margin-top: 30px;
  padding: 10px 20px;
  border-radius: 12px;
  box-shadow: 2px 1px 8px 8px #f1f1f1;
  .frameless_body_header {
    border-bottom: 1px solid #e3e8ee;
    margin: 0px -20px;
    padding: 5px 20px 15px;
    font-weight: 500;
    text-align: center;
  }

  table.table {
    border-spacing: 0px;
    width: 100%;
    tbody tr:last-child td {
      border-bottom: 1px solid #cbcbcb;
    }
  }
}

.wppayform_header_logo {
  width: 100%;
  margin: 30px 0px 0px;
  text-align: center;
  a.wppayform_site_name {
    text-decoration: none;
    color: black;
    font-size: 26px;
  }

  a.wppayform_site_logo img {
    max-height: 80px;
    width: auto;
  }
}
