@import '../../../node_modules/pikaday/css/pikaday.css';

.wpf_form_notices {
  padding: 10px 20px;
  margin-top: 20px;

  p, ul {
    padding: 0;
    margin: 0;
  }

  &.wpf_form_errors {
    color: rgb(114, 28, 36);
    background-color: rgb(248, 215, 218);
    border-color: rgb(245, 198, 203);
  }

  &.wpf_form_success {
    color: rgb(21, 87, 36);
    background-color: rgb(212, 237, 218);
    border-color: rgb(195, 230, 203);
  }
}

.wpf_strip_default_style {
  .StripeElement {
    background-color: white;
    height: 40px;
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }

  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }

  .StripeElement--invalid {
    border-color: #fa755a;
  }

  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }
}

.wpf_form_wrapper {
  form.wpf_submitting_form {
    span.wpf_txt_normal {
      display: none !important;
    }

    span.wpf_txt_loading {
      display: block !important;
    }
  }

  form.wpf_label_top {
    .wpf_form_group {
      display: block;
      width: 100%;
      margin-bottom: 15px;

      > label {
        display: block;
      }

      .wpf_form_control {
        display: block;
        width: 100%;
      }
    }
  }


  form.wpf_form {
    .wpf_form_group {
      .wpf_form_item_group {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        width: 100%;
        max-width: 250px;

        .wpf_input-group-prepend {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;

          .wpf_input-group-text {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            padding: 0 15px;
            margin-bottom: 0;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: rgb(73, 80, 87);
            text-align: center;
            white-space: nowrap;
            background-color: rgb(233, 236, 239);
            border: 1px solid rgb(206, 212, 218);
            border-radius: 0;
          }
        }

        input {
          position: relative;
          -webkit-box-flex: 1;
          -ms-flex: 1 1 auto;
          flex: 1 1 auto;
          width: 1% !important;
          margin-bottom: 0;
        }
      }
    }
  }

  .wpf_loading_svg {
    display: none;
  }

  form.wpf_submitting_form {
    .wpf_loading_svg {
      display: inline-block;
    }
  }


  .wpf_form_group {
    display: block;
    margin-bottom: 20px;
    * {
      box-sizing: border-box;
    }
  }

  @media (min-width: 768px) {
    .wpf_inline_labels {
      &.wpf_label_left {
        .wpf_form_group {
          .wpf_input_label > label {
            text-align: left;
            display: block;
          }
        }
      }

      &.wpf_label_right {
        .wpf_form_group {
          .wpf_input_label > label {
            text-align: right;
            display: block;
          }
        }
      }

      .wpf_form_group {
        .wpf_input_label {
          float: left;
          width: 200px;
          padding-right: 10px;
        }

        .wpf_input_content {
          margin-left: 200px;
          display: block;

          .wpf_form_control {
            width: 100%;
          }
        }
      }
    }
  }

  @media (max-width: 767px) {
    .wpf_form_group {
      .wpf_form_control, .wpf_form_item_group {
        width: 100%;
        max-width: 100% !important;
      }
    }
  }
  .wpf_submit_button_pos_center {
    .wpf_form_submissions {
      display: block;
      text-align: center;
    }
  }
  .wpf_submit_button_pos_left {
    .wpf_form_submissions {
      display: block;
      text-align: left;
    }
  }
  .wpf_submit_button_pos_right {
    .wpf_form_submissions {
      display: block;
      text-align: right;
    }
  }

  form.wpf_form {
    .wpf_default_btn, .wpf_full_block_btn {
      border-radius: 4px;
      display: inline-block;
      background-color: rgb(62, 168, 229);
      background-image: linear-gradient(-180deg, rgb(68, 177, 232), rgb(48, 152, 222));
      box-shadow: 0 1px 0 0 rgba(46, 86, 153, .15), inset 0 1px 0 0 rgba(46, 86, 153, .1), inset 0 -1px 0 0 rgba(46, 86, 153, .4);
      font-size: 17px;
      line-height: 17px;
      height: 40px;
      font-weight: 700;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, .12);
      color: rgb(255, 255, 255);
      cursor: pointer;
      transition: all .2s ease-in-out;
      padding: 10px 20px;
      &:hover {
        background-image: linear-gradient(rgb(125, 197, 238), rgb(0, 140, 221) 85%, rgb(48, 162, 228));
      }
    }

    .wpf_full_block_btn {
      display: block !important;
      width: 100%;
    }


  }

  &.wpf_restriction_action_hide_form {
    form.wpf_form {
      display: none !important;
      visibility: hidden !important;
    }
  }
  &.wpf_restriction_action_hide_submit_button {
    form.wpf_form {
      .wpf_form_submissions {
        display: none !important;
        visibility: hidden !important;
      }
    }
  }


  form.wpf_bold_labels {
    .wpf_input_label {
      > label {
        font-weight: bold;
      }
    }
  }


}


form.wpf_default_form_styles {
  .wpf_form_group {
    input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"] {
      display: block;
      width: 100%;
      padding: .375rem .75rem;
      font-size: 1rem;
      line-height: 1.5;
      color: rgb(73, 80, 87);
      background-color: rgb(255, 255, 255);
      background-clip: padding-box;
      border: 1px solid rgb(206, 212, 218);
      border-radius: .25rem;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    select {
      height: calc(2.25rem + 2px);
    }
    textarea {
      display: block;
      width: 100%;
      padding: .375rem .75rem;
      font-size: 1rem;
      line-height: 1.5;
      color: rgb(73, 80, 87);
      background-color: rgb(255, 255, 255);
      background-clip: padding-box;
      border: 1px solid rgb(206, 212, 218);
      border-radius: .25rem;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
  }
}


