.wpf_form_notices {
  padding: 10px 20px;
  margin-top: 20px;
  p, ul {
    padding: 0;
    margin: 0;
  }
  &.wpf_form_errors {
    color: rgb(114, 28, 36);
    background-color: rgb(248, 215, 218);
    border-color: rgb(245, 198, 203);
  }

  &.wpf_form_success {
    color: rgb(21, 87, 36);
    background-color: rgb(212, 237, 218);
    border-color: rgb(195, 230, 203);
  }
}

.wpf_strip_default_style {
  .StripeElement {
    background-color: white;
    height: 40px;
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }

  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }

  .StripeElement--invalid {
    border-color: #fa755a;
  }

  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }
}
